{% extends "base.html.twig" %}
{% block body %}
<h2>Fiche de Salle : </h2>

<p>Numero de la salle : {{ room.roomnumber }}</p>

<p>ID Type de salle : {{ room.roomtypeid }}</p>

<p>ID Etage : {{ room.roomfloor }}</p>

<p>ID Hotel : {{ room.hotelid }}</p>






{% endblock %}