{% extends "base.html.twig" %}
    {% block body %}

    <h2>Ajout d'un type de pièce :</h2>
        <form method="post" id="roomtypeAddForm">

            <p><label for="roomtypename">Nom : </label><input type="text" name="roomtypename" id="roomtypename" value="{{ roomtype.roomtypename }}"></p>

            <input name="roomtypeid" type="hidden" value="{{ roomtype.roomtypeid }}">

            <input type="submit" value="Enregistrer" />
         
        </form>

    {% endblock %}

    
    {% block javascripts %}
    <script src="../../js/jquery-2.2.4.min.js"></script>
	<script>
	$(function() {

		console.log("{{ path('roomtype_save') }}");
		
		
		$('#roomtypeAddForm').on('submit', function(e) { //use on if jQuery 1.7+
			e.preventDefault();  //prevent form from submitting
			var values = $(this).serialize();


            function verif(elem)
			{
				if(elem.value.length < 1)
				{	
					elem.style.backgroundColor = "#fba";
					return false
				}
				else
				{
					elem.style.backgroundColor = "";
					return true
				}
			}
			
			if(verif($('#roomtypeAddForm')[0].roomtypename))
			{		
			$.ajax({
				url: "{{ path('roomtype_save') }}",
				type: "post",
				data: values ,
				success: function (response) {
				   // you will get response from your php page (what you echo or print)                 
					console.log('success : '+response);
					$('#roomtypeAddForm')[0].reset();
				},
				error: function(jqXHR, textStatus, errorThrown) {
				   console.log(textStatus, errorThrown);
				}
			}


			);
            }
		});
		
	});
		
	</script>
    {% endblock %}