{% extends "base.html.twig" %}
{% block body %}
<h2>Liste des types de pièces : </h2>
{% for roomtype in roomtypes %}
<p>  {{ roomtype.roomtypename }} 
    <a href="{{ path('edit_roomtype', { 'id_roomtype' : roomtype.roomtypeid }) }}" ><button>Modifier</button></a>
    <a href="{{ path('delete_roomtype', { 'id_roomtype' : roomtype.roomtypeid }) }}" ><button>Supprimer</button></a>

</p>
{% endfor %}
{% endblock %}